<ng-container *ngIf="post">
  <div class="card m-3" style="width: 18rem;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap">-->
    <img [src]="post.images[0]" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">
        {{ post.author.name }}
      </h5>
      <h6 class="card-subtitle mb2 text-muted">
        <!-- {{post.created_time | date }} -->
        {{post.created_time | myDate}}
      </h6>
      <p class="card-text">
        {{ post.body }}
      </p>
    </div>
  </div>
</ng-container>